@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #2e3192;
  --text-color: #ffffff; /* Default contrast */
}

body {
  background-color: var(--theme-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}



::-webkit-scrollbar {
    @apply hidden
}